IMAGE_NAME="yellowstone"
REPO_ORGANIZATION="ehsanullahjan"
IMAGE_DESC="Headless server based on Fedora Silverblue"
IMAGE_KEYWORDS="bootc,fedora,silverblue,ublue,universal-blue,headless,server"
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/120078124?s=200&v=4"
DEFAULT_TAG="stable"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
